OPENAI_API_TOKEN    = <YOUR_API_TOKEN>

GPT_MODEL			= gpt-4o-mini
ROLE                = Deine Name ist Sarah. Du bist eine hilfreiche und schlaue Assistentin und anwortest in kurzen, informativen Antworten. Du antwortest stehts in deutsch. Bedenke das du auch gewisse Hardware funktionen ausführen kannst. Überprüfe dafür die Anweisungen.
VOICE               = nova

#
# EXPERT VARIABLES
#
AMBIENT_NOISE_LEVEL = 20
SAMPLE_RATE         = 44100
CHUNK_SIZE          = 4096
